---
---

#map-canvas {
	height: 400px;
	width: 100%;
	margin: 0;
	padding: 0;
}

.marker-desc-list li {
	border: thin solid black;
	border-radius: 3%;
	display: inline-block;
	margin: 2pt;
	padding: 0pt 3pt;
	width: 46%;

	@media screen and (max-width: 600px) {
		width: 100%;
	}

	vertical-align: top;

	.marker-name {
		font-weight: bold;
	}

	p {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	span {
		display: none;
	}
}

.marker-desc-list {
	@media screen and (max-width: 600px) {
		margin: auto;
	}
}

.marker-desc-list li.marker-selected {
	font-weight: bold;

	p {
		white-space: normal;
	}

	span {
		display: inline;
		font-weight: normal;
	}
}
