---
---

#map-canvas {
	height: 400px;
	width: 100%;
	margin: 0;
	padding: 0;
}

.marker-div {
	border: thin solid black;
	display: inline-block;
	margin: 2pt;
	padding: 0pt 3pt;
	width: 46%;

	vertical-align: top;

	a:first-child {
		font-weight: bold;
	}

	p {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
}

.marker-selected {
	font-weight: bold;
}
